<template>
  <div class="about">
    <h1>This is an about page</h1>
    <v-btn @click="callhello">test</v-btn>
    <golden-layout class="workspace">
      <gl-row>
        <gl-component title="component1">
          <img src="http://localhost:5000/v1/video_feed" width="100%" />
        </gl-component>
        <gl-stack>
          <gl-component title="component2">
            <h1>Component 2</h1>
          </gl-component>
          <gl-component title="component3">
            <h1>Component 3</h1>
          </gl-component>
        </gl-stack>
      </gl-row>
    </golden-layout>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Home",
  data: function() {
    return {};
  },
  methods: {
    callhello: function() {
      console.log(this.$store.getters.getToken);
      axios
        .get(process.env.VUE_APP_QUERY_LOCATION, {
          headers: { token: this.$store.getters.getToken }
        })
        .then(resp => {
          console.log(resp.data);
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style>
.workspace {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.glComponent {
  width: 100%;
  height: 100%;
  overflow: auto;
}
</style>
