<template>
  <div class="about">
    <v-container fluid>
      <h1>This is an about page</h1>
      <v-btn @click="query">test</v-btn>
      <v-textarea v-model="queryString" auto-grow solo clearable> </v-textarea>
      <div id="map" />
    </v-container>
    {{ queryString }}
  </div>
</template>

<script>
import "tabulator-tables/dist/css/tabulator_simple.min.css";
import "tabulator-tables/dist/css/tabulator.min.css";
import axios from "axios";
import Tabulator from "tabulator-tables";

export default {
  name: "Home",
  data: () => ({
    queryString: "test",
    table: null,
    tabledata: [
      { id: 1, name: "Oli Bob", age: "12", col: "red", dob: "" },
      { id: 2, name: "Mary May", age: "1", col: "blue", dob: "14/05/1982" },
      {
        id: 3,
        name: "Christine Lobowski",
        age: "42",
        col: "green",
        dob: "22/05/1982"
      },
      {
        id: 4,
        name: "Brendon Philips",
        age: "125",
        col: "orange",
        dob: "01/08/1980"
      },
      {
        id: 5,
        name: "Margret Marmajuke",
        age: "16",
        col: "yellow",
        dob: "31/01/1999"
      }
    ]
  }),
  methods: {
    query: function() {
      let table = this.table;
      axios
        .post(
          "http://localhost:5000/v1/query/sparql",
          {
            query: this.queryString
          },
          {
            headers: { token: this.$store.getters.getToken }
          }
        )
        .then(resp => {
          table.replaceData(resp.data);
        })
        .catch(err => {
          console.log(err);
        });
      this.table.replaceData();
    },
    test: function() {
      this.table.setColumns([]);

      let table = this.table;
      axios
        .post(
          "http://localhost:5000/v1/query/sparql_headers",
          {
            query: this.queryString
          },
          {
            headers: { token: this.$store.getters.getToken }
          }
        )
        .then(resp => {
          table.setColumns(resp.data);
        })
        .catch(err => {
          console.log(err);
        });
      return false;
    }
  },
  mounted: function() {
    this.table = new Tabulator("#map", {
      height: 205, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
      layout: "fitColumns", //fit columns to width of table (optional)
      columns: [
        //Define Table Columns
        { title: "Name", field: "name", width: 150 },
        { title: "Age", field: "age", hozAlign: "left", formatter: "progress" },
        { title: "Favourite Color", field: "col" },
        {
          title: "Date Of Birth",
          field: "dob",
          sorter: "date",
          hozAlign: "center"
        }
      ],
      rowClick: function(e, row) {
        //trigger an alert message when the row is clicked
        alert("Row " + row.getData().id + " Clicked!!!!");
      },
      ajaxRequesting: this.test,
      ajaxURL: "http://localhost:5000/test"
    });
  }
};
</script>
