<template>
  <v-app>
    <router-view @login="test">
      <v-img src="@/assets/advance_wars.jpg"></v-img>
    </router-view>
    <v-btn @click="test">test</v-btn>
    {{ controller }}
  </v-app>
</template>

<script>
import io from "socket.io-client";

export default {
  name: "App",

  data: () => ({
    controller: {},
    socket: {}
    //
  }),
  methods: {
    test: function(loginResp) {
      this.$store.commit("setToken", loginResp.token);
      this.$router.push({ name: "About" });
    },
    controllerUpdate() {
      let controllers = navigator.getGamepads();
      controllers.forEach(controller => {
        for (let i = 0; i < controller.buttons.length; i++) {
          let button = controller.buttons[i];
          if (button.pressed) {
            console.log(controller.index, i, button.value);
            this.socket.emit("my event", {
              controller: controller.index,
              button: i,
              value: button.value
            });
          }
        }
      });
    }
  },
  watch: {
    controller: {
      deep: true,
      handler() {
        console.log("controller changed");
      }
    }
  },
  mounted() {
    console.log("mounted");
    let that = this;
    window.addEventListener("gamepadconnected", function(e) {
      console.log(
        "Gamepad connected at index %d: %s. %d buttons, %d axes.",
        e.gamepad.index,
        e.gamepad.id,
        e.gamepad.buttons.length,
        e.gamepad.axes.length
      );
      console.log("patrick :", e.gamepad);
      that.controllers = navigator.getGamepads()[0];
    });
    window.setInterval(this.controllerUpdate, 5000);
    // window.requestAnimationFrame(this.controllerUpdate);
    this.socket = io("http://localhost:5000");
    this.socket.on("connect", function() {
      that.socket.emit("my event", { data: "I'm connected!" });
    });
  }
};
</script>
